<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>
    <ul>
        <% categories.forEach(cat => { %>
            <li>
                <%= cat.category_name %> 
                <a href="/edit-category/<%= cat.category_id %>">[Edit]</a>
            </li>
        <% }) %>
    </ul>


    <% if (user && user.role_name === 'admin') { %>
       <a href="/new-category" class="btn">+ Add New Category</a>
    <% } %>
    
</main>

<%- include('partials/footer') %>