

<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>
    <ul>
        <% projects.forEach(project => { %>
            <li>
                <strong><%= new Date(project.project_date).toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }) %></strong>: 
                <%= project.title %> 
                <em>(<%= project.organization_name %>)</em>
                <p><%= project.description %></p>
                <p><small>Location: <%= project.location %></small></p>
            </li>
            <% }) %>
        </ul>
</main>

<%- include('partials/footer') %>
